.SignIn {
     width: 100vw;
     height: 100vh;
     background: linear-gradient(#fdf2bf, #fff, #e7f6e6);
     display: flex;
     align-items: center;
     overflow-x: hidden;
}

.user {
     width: 80vw;
     margin-left: 10vw;
}

.hiThere {
     display: flex;
     flex-direction: column;
     align-items: center;
     white-space: nowrap;
     justify-content: center;
     animation: slide 0.4s;
}

.hiThere h1 {
     font-family: "Lato", sans-serif;
     font-size: 24px;
     color: #1f2024;
     margin: 10px;
}

.hiThere p {
     font-family: "Lato", sans-serif;
     font-size: 14px;
     color: #71727a;
     margin-bottom: 30px;
}

.signInForm {
     display: flex;
     flex-direction: column;
     animation: opa 1s;
}

.signInForm fieldset {
     border: none;
}

.signInForm fieldset input {
     min-width: 70vw;
     height: 50px;
     border: none;
     border: solid 0.5px #71727a;
     border-radius: 12px;
     padding-right: 5vw;
     padding-left: 5vw;
     background: transparent;
}

.signInForm input:focus {
     border: solid 0.5px #9a3258;

     background: transparent;
     font-size: 12px;
     caret-color: #9a3258;
     color: #9a3258;
     outline: none;
}

.signInForm p {
     font-size: 15px;
     width: 100%;
     text-align: center;
     color: #71727a;
     margin-top: 5px;
}

.signInButton {
     width: 200px;
     margin-top: 30px;
     margin-bottom: 30px;
     align-self: center;
     height: 50px;
     background-color: #034c28;
     border-radius: 12px;
     color: #fff;
     border: none;
}

.signInForm .valids {
     margin-bottom: 10px;
     font-size: 10px;
     text-align: left;
     color: #fa3c6a;
}
