.Journal {
    width: 100vw;
    max-width: 550px;
    height: 100vh;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    box-shadow: 0px 0px 2px #00000020;
    padding-bottom: 70px;
}

.Journal::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

.Journal header {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Journal header h1 {
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: 700;
    color: #000;
}

.Journal .aboutJournal {
    margin-top: 30px;
    width: 90%;
    font-size: 15px;
    text-align: center;
    font-family: "Lato";
}

.Journal .prevJournals {
    margin-top: 30px;
    width: 90%;
    display: flex;
    background-color: #fff6f1;
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: 0px 6px 5px -2px #00000010;
    gap: 10px;
}

.Journal .prevJournals p {
    font-size: 13.5px;
    font-family: "Lato";
}

.Journal .prevJournals button {
    border: none;
    padding: 5px 10px;
    color: #fff;
    background-color: #71c29a;
    border-radius: 5px;
}

.Journal .blankPage {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    width: 90%;
    border-radius: 16px;
    background-color: #fff6ff;
    padding: 40px 20px;
    box-shadow: 0px 6px 5px -2px #00000010;
    gap: 2%;
}

.Journal .blankPage div:nth-child(1) {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.Journal .blankPage div:nth-child(2) {
    display: flex;
    flex-direction: column;
    width: 48%;
    align-items: center;
    justify-content: center;
}

.Journal .blankPage div:nth-child(2) img {
    height: 100%;
    width: 100%;
    max-height: 150px;
    max-width: 150px;
}

.Journal .blankPage div:nth-child(1) h2 {
    font-family: "Lato";
    font-weight: 700;
    font-size: 15px;
    height: 20px;
}

.Journal .blankPage div:nth-child(1) p {
    margin-top: 10px;
    font-family: "Lato";
    font-size: 12px;
    width: 80%;
    max-width: 120px;
    font-weight: 400;
}

.Journal .blankPage button {
    margin-top: 10px;
    background-color: #fdfffe;
    color: #449072;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    width: fit-content;
    padding: 4px 10px;
    border: 1px solid #449072;
}

.Journal .tips {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: max-content;
    margin-top: 30px;
    border-radius: 16px;
    background-color: #f5ffe2;
    padding: 25px 20px;
    box-shadow: 0px 6px 5px -2px #00000010;
}

.Journal .tips h2 {
    font-family: "Lato";
    font-weight: 600;
    font-size: 15px;
}

.Journal .tips div {
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
}

.Journal .tips div .ideas {
    background-color: #ffffff;
    color: #000;
    border-radius: 7px;
    padding: 7px;
    font-size: 13px;
    white-space: nowrap;
}

.Journal .tips div::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

.Journalgetstarted {
    width: 100vw;
    max-width: 550px;
    height: 100vh;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    box-shadow: 0px 0px 2px #00000020;
    padding-bottom: 70px;
}

.Journalgetstarted::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

.Journalgetstarted .imagediv {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Journalgetstarted .imagediv img {
    height: 200px;
}

.Journalgetstarted .letshelpyou {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Journalgetstarted .letshelpyou p {
    text-align: center;
    font-family: "Lato";
    font-size: 15px;
    font-weight: 100;
}

.Journalgetstarted .letshelpyou h1 {
    margin-top: 20px;
    font-size: 18px;
    font-family: "Lato";
}

.Journalgetstarted .letshelpyou button {
    border: none;
    appearance: none;
    margin-top: 10px;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #71c29a;
    border-radius: 50%;
}
.Journalentry {
    width: 100vw;
    max-width: 550px;
    height: 100vh;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    box-shadow: 0px 0px 2px #00000020;
    padding-bottom: 70px;
}

.Journalentry::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

.Journalentry form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}
.Journalentry form fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.Journalentry form fieldset input {
    border: none;
    height: 70px;
    width: 100%;
    font-size: 30px;
}

.Journalentry form fieldset input:focus {
    outline: none;
    border: none;
}

.Journalentry form fieldset textarea {
    width: 100%;
    height: 50vh;
    font-size: 15px;
    font-family: "Lato";
    border: none;
}

.Journalentry form fieldset textarea:focus {
    outline: none;
    border: none;
}

.Journalentry form fieldset button {
    background-color: #71c29a;
    border: none;
    padding: 5px 20px;
    font-size: 15px;
    color: #fff;
    align-self: flex-end;
    border-radius: 10px;
}

.Journalentry form fieldset button:disabled {
    background-color: #71c29a50;
}

.Journalentry .basedesigns {
    margin-top: 30px;
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.basedesigns .camera {
    display: flex;
    flex-direction: row;
    border: solid 1px #71c29a;
    width: 40%;
    padding: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    height: min-content;
    justify-content: space-around;
}

.basedesigns .camera div {
    width: 1px;
    height: 30px;
    background-color: #71c29a;
}

.basedesigns .insights {
    display: flex;
    gap: 10px;
    align-items: center;
}

.journalcreated {
    height: 100vh;
    width: 100vw;
    max-width: 550px;
    z-index: 9000;
    background-color: #00000010;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.journalcreated div {
    width: 250px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
}

.journalcreated div img {
    height: 100px;
    width: 100px;
    margin-top: 10px;
}

.journalcreated div h1 {
    margin-top: 10px;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 700;
}

.journalcreated div p {
    margin-top: 10px;
    width: 70%;
    font-family: "Lato";
    font-weight: 100;
    text-align: center;
}

.journalcreated div button {
    border: none;
    appearance: none;
    outline: none;
    margin-top: 10px;
    height: 30px;
    background-color: #1e621e;
    border-radius: 15px;
    width: 50%;
    font-family: "Montserrat";
    color: #fff;
    margin-bottom: 20px;
}
