.ForgotPassword {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: "Lato";
    background-color: #fefefe;
}

.ForgotPassword header {
    width: 80vw;
    max-width: 300px;
    margin-bottom: 40px;
}

.ForgotPassword header h1 {
    font-size: 24px;
    font-weight: 100;
    color: #1f2024;
}

.ForgotPassword header p {
    font-size: 14px;
    color: #71727a;

    font-family: "Lato", sans-serif;
    margin-bottom: 5px;
}

.ForgotPassword fieldset {
    border: none;
    width: 80vw;
    max-width: 300px;
}

.ForgotPassword fieldset input::placeholder {
    font-family: "Lato";
}
.ForgotPassword fieldset input {
    width: 80vw;
    max-width: 300px;
    height: 50px;
    border: none;
    margin-top: 10px;
    border: solid 1px #71727a;
    border-radius: 12px;
    padding-right: 20px;
    padding-left: 20px;
    background: transparent;
    font-family: "Lato";
}

.ForgotPassword input:focus {
    border: solid 1px #9a3258;
    background: transparent;
    font-size: 12px;
    caret-color: #9a3258;
    color: #9a3258;
    outline: none;
}

.ForgotPassword button {
    width: 80vw;
    max-width: 300px;
    margin-top: 10px;
    margin-bottom: 5px;
    height: 50px;
    background-color: #71c29a;
    border-radius: 12px;
    color: #fff;
    border: none;
    font-family: "Lato";
    display: block;
}

.ForgotPassword .errorReceived {
    margin-top: 10px;
    color: #fa3c6a;
    font-size: 10px;
    text-align: center;
    width: 80vw;
    max-width: 300px;
}

.ForgotPassword .accountFound {
    margin-top: 10px;
    color: #3bcd84;
    font-size: 10px;
    width: 80vw;
    max-width: 300px;
    text-align: center;
}
.ForgotPassword .fieldCheckers {
    margin-top: 10px;
    color: #fa3c6a;
    font-size: 10px;
    width: 80vw;
    max-width: 300px;
    text-align: center;
}
.ForgotPassword button:disabled {
    background-color: #71c29a50;
}

.passwordForgot,
.otpToken {
    text-align: center;
}

.otpToken {
    letter-spacing: 10px;
}

.ForgotPassword fieldset .eyeIconsRelativeDivs {
    width: fit-content;
    position: relative;
}
.ForgotPassword fieldset .eyeIcon {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 10px;
    top: 17px;
    font-size: 16px;
    color: #71727a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ForgotPassword fieldset .fieldCheckers {
    margin-top: 5px;
    color: #fa3c6a;
    font-size: 10px;
}
