.DailyTests {
    height: 100vh;
    width: 100vw;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(270deg, #dae9da, #fff);
    padding-top: 50px;
    overflow-y: auto;
    box-shadow: 0px 0px 2px #00000020;
}

.DailyTests::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

.DailyTests nav {
    width: 90%;
    font-family: "Montserrat";
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

.DailyTests header p {
    font-family: "Lato";
    font-size: 17px;
    padding: 20px;
    margin-top: 30px;
}

.DailyTests .questions {
    width: 90%;
    margin-bottom: 70px;
}
.DailyTests .questions h3 {
    margin-top: 30px;
    font-family: "Montserrat";
    text-align: center;
}

.DailyTests .questions form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.DailyTests fieldset {
    border: none;
    background-color: #449072;
    height: 50px;
    width: 90%;
    appearance: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 12px;
}

.DailyTests .picked {
    border: solid 1px #449072;
    background-color: #e8fbf2;
}

.DailyTests fieldset div {
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 10px;
}
.DailyTests fieldset input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: solid 5px #e8fbf2;
    border-radius: 50%;
    background-color: #449072;
}

.DailyTests .picked input[type="radio"] {
    background-color: #e8fbf2;
    border: solid 5px #449072;
}

.DailyTests fieldset p {
    text-align: center;
    font-family: "Lato";
    color: #e8fbf2;
    font-size: 15px;
}

.DailyTests .picked p {
    color: #449072;
}

.DailyTests form button {
    width: 50%;
    margin-top: 30px;
    height: 50px;
    border: none;
    border-radius: 12px;
    background-color: #71c19a;
    font-size: 15px;
    color: white;
    font-family: "Montserrat";
}

.DailyTests form button:disabled {
    background-color: #71c19a50;
}
