@import url("https://fonts.googleapis.com/css2?&family=Lato&display=swap");
.SignUP {
     background: linear-gradient(#e7f6e6, #fff, #fdf2bf);
     scroll-behavior: smooth;
     height: 100vh;
     overflow: scroll;
     overflow-x: hidden;
}

.pageContainer {
     width: 100vw;
     padding-top: 5vh;
     position: relative;
     animation: slide 0.5s;
}

@keyframes slide {
     0% {
          margin-left: 80vw;
     }
     100% {
          margin-left: 0vw;
     }
}

.Hello {
     display: flex;
     align-items: center;
     flex-direction: column;
}

.Hello img {
     margin-top: 15px;
}
.Hello h1 {
     margin-top: 5px;
     font-family: "Lato", sans-serif;
     font-size: 24px;
     color: #1f2024;
}

.Hello p {
     font-family: "Lato", sans-serif;
     font-size: 14px;
     color: #71727a;
     margin-bottom: 10px;
}

.signUpForm {
     position: relative;
     width: 80vw;
     margin-left: 10vw;
     display: flex;
     flex-direction: column;
}

.signUpForm fieldset {
     border: none;
}

.signUpForm label {
     display: block;
     margin-bottom: 5px;
     font-size: 14px;
     font-family: "Lato";
     color: #2f3036;
}
#fullName,
#email,
#password,
#confirmPassword {
     width: 70vw;
     height: 50px;
     border: none;
     border: solid 0.5px #71727a;
     padding-left: 20px;
     padding-right: 20px;
     border-radius: 12px;
     background-color: transparent;
}

#fullName:focus,
#email:focus,
#password:focus,
#confirmPassword:focus {
     outline: none;
     border: solid 0.5px #9a3258;
     font-size: 12px;
     caret-color: #9a3258;
     color: #9a3258;
}

.passwordField {
     position: relative;
}

.spanContainers {
     position: relative;
}
.eyeIcon,
.eyeIcon2 {
     position: absolute;
     right: 8vw;
     top: 17px;
     font-size: 16px;
     color: #71727a;
}

.fieldCheckers {
     display: block;
     margin-top: 5px;
     margin-bottom: 10px;
     color: #fa3c6a;
     font-size: 10px;
}

.check {
     display: flex;
     flex-direction: row;
     gap: 10px;
}
.checkb {
     vertical-align: text-top;
     accent-color: #3bcd84;
}

.term {
     font-size: 12.5px;
     font-family: "Lato", sans-serif;
     color: #71727a;
}
.terms {
     color: #3bcd84;
}

.createAccount:disabled {
     background-color: #3bcd8450;
}
.createAccount {
     width: 200px;
     margin-top: 20px;
     margin-bottom: 40px;
     align-self: center;
     height: 50px;

     background-color: #3bcd84;
     border-radius: 12px;
     color: #fff;
     border: none;
}
.liners.one {
     margin-left: 10vw;
}
.liners {
     width: calc((80vw - 20px) / 2);
     display: inline-block;
     vertical-align: middle;
     height: 0.5px;
     background-color: #000;
}
.or {
     display: inline-block;
     font-size: 20px !important;
     font-family: "Lato", sans-serif;
     color: #000 !important;
     margin-bottom: 10px;
}

.accountExist {
     font-family: "Lato", sans-serif;
     margin-bottom: 10px;
}

.Third-Parties div {
     display: flex;
     flex-direction: row;
     gap: 10px;
     justify-content: center;
     margin-bottom: 5px;
}

.thirdparty {
     display: inline-block;
     height: 40px;
     width: 40px;
     background-color: #fff;
     box-shadow: 1px 3px 20px 0px #00000050;
     border-radius: 25px;
     display: flex;
     align-items: center;
     justify-content: center;
}

.thirdparty img {
     width: 25px;
     height: 25px;
}

.loginLink {
     color: #3bcd84;
     text-decoration: none;
}

.alt p {
     text-align: center;
     font-size: 12.5px;
     color: #fa3c6a;
}
