.I--page{
  background-color: #f3fbf4;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.slidebox {
  width: 100vw;
  height: fit-content;
  padding-top: 20px  ;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  position: relative;
}

.button{
  position: absolute;
  top: 35%;
  width: 20vw;
  height: 30%;
  background-color: transparent;
  border: none;
}

.button.left{
  left: 0px;
}

.button.right{
  right: 0px;
}
.slides{
  width: 100vw;
  height: fit-content;
  display: inline-block;
  margin: 0px;
  scroll-snap-align: center;
}

.slidebox::-webkit-scrollbar{
    height: 0px;
    width: 0px;
}

.image.mg1{
    height: 250px;
    width: 100vw;
}

.image.mg2{
  height: 200px;
  width: 100vw;
}

.image.mg3, .image.mg4{
  height: 300px;
  width: 100vw;
}

.dots{
     width: 100px;
     margin: 20px auto;
     white-space: nowrap;
}

.dot{
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 0px 5px ;
  border-radius: 5px;
  background-color: #d3d3d3;
}