@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&family=Lato&family=Montserrat:wght@100;400&family=Poppins:wght@400&family=The+Nautigal:wght@700&display=swap');


.Sg--page {
  width: 100vw;
  position: relative;
  background:linear-gradient( #fff4da 90% 90%, #c0fac8 30% 100%);
  height: 100vh;
  font-size: calc(10px + 2vmin);
  overflow-x: hidden;
}



.braindiv {
    position: relative;
    height: fit-content;
    width: 100%;
    animation: grow 0.5s;
    padding-bottom: 30px;
}

.braindiv h1 {
  width: 70vw;
  text-align: center;
  margin-left: 15vw;
  font-size: 30px;
  color: #161616;
  font-family: 'Montserrat', sans-serif;
}

.braindiv p{
  width: 70vw;
  margin-left: 15vw;
  padding-top: 20px;
  font-size: 15px;
  text-align: center;
  color: #161616;
  font-family: 'Montserrat', sans-serif;
}

.brandCont .brand{
    color: #3bcd84 ;
    z-index: 60;
    font-family: 'The Nautigal';
    font-size: 3em;
    padding: 60px 0px 20px 0px;
    text-align: center;
}

@keyframes grow {
    from{
        height: 50vh;
    }
    to{
        height: 30vh;
    }
}

.braindiv img {
   position: absolute;
   right: 0px;
   height: 150px;
}

.LogSn {
    position: relative;
    width: 100vw; 
    height: fit-content; 
    overflow: hidden;
}

.Sn-circle {
      position: absolute;
      width: 150vw;
      height: 200%;
      right: -30px;
      border-radius: 75vw;
      background-color: #c0fac8;
}

.allsnlg{
    position: relative;
    z-index: 50;
    text-align: center;
    width: 80vw;
    margin-left: 10vw;
    height: fit-content;
    padding-top: 15vh;
}

.Sn-Circle{
    width: 100%;
     height: 100%;
     border-radius: 40%;
     background-color: #3bcd84;
     position: absolute;
     animation: expand 0.5s ;
 }


.auths{
    display: block;
    position: relative;
    margin: 20px  auto 20px auto ;  
    border: none; 
    width: 250px;
    height: 60px;
    border-radius: 60px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}

.small-circs{
    display: flex;
    position: absolute;
    top: 5px;
    left: 10px;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 1px 3px 20px 0px #00000020;
    justify-content: center;
    align-items: center;
}

.small-circs img {
    width: 20px;
    height: 20px;
    padding: 6px;
}

.google-apple{
    display: flex;
    height: 48px;
    justify-content: center;
    align-items: center;
}

.auths.last{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
}


.neg-accnt{
    font-family: 'Poppins', sans-serif;
    display: block;
    font-size: 0.8em;
    padding: 30px;
}

.neg-accnt .span {
    color: #3bcd84;
    text-decoration: none;
}