@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&family=Lato&family=Montserrat&family=The+Nautigal:wght@700&display=swap");

.Slides {
     width: 100vw;
     position: relative;
     background-color: #f9f5ed;
     height: 100vh;
     font-size: calc(10px + 2vmin);
     overflow: hidden;
}

.circle {
     display: none;
}
.circle.active {
     display: block;
     position: absolute;
     top: -350px;
     width: 700px;
     height: 700px;
     border-radius: 350px;
     background-color: #fff4da;
}

.slidebox {
     width: 100vw;
     height: 320px;
     padding-top: 20px;
     padding-bottom: 20px;
     scroll-behavior: initial;
     overflow-x: scroll;
     overflow-y: hidden;
     white-space: nowrap;
     scroll-snap-type: x mandatory;
     position: relative;
}

.ImageSlides {
     position: relative;
     height: 50vh;
}
.button {
     position: absolute;
     top: 25%;
     width: 20vw;
     height: 50%;
     background-color: transparent;
     border: none;
     z-index: 900;
}

.button.left {
     left: 0px;
}

.button.right {
     right: 0px;
}

.slidebox::-webkit-scrollbar {
     height: 0px;
     width: 0px;
}

.slides {
     width: 100vw;
     height: 320px;
     display: inline-block;
     position: relative;
     margin: 0px;
     scroll-snap-align: center;
     scroll-snap-stop: always;
}

.image.mg1 {
     position: absolute;
     top: 35px;
     height: 250px;
     width: 100vw;
}

.image.mg2 {
     position: absolute;
     top: 60px;
     left: 10vw;
     height: 250px;
     width: 80vw;
}

.image.mg3 {
     position: absolute;
     top: 60px;
     left: 15vw;
     height: 250px;
     width: 70vw;
}

.image.mg4 {
     position: absolute;
     top: 60px;
     left: 15vw;
     height: 200px;
     width: 70vw;
}

.background {
     height: 50vh;
     width: 100vw;
     background-image: url(../../../Assets/ellipse-2.svg);
     background-repeat: no-repeat;
     background-size: cover;
}

.dots {
     width: 100px;
     margin: 20px auto;
     white-space: nowrap;
}

.dot {
     z-index: 50;
     display: inline-block;
     height: 10px;
     width: 10px;
     margin: 0px 5px;
     border-radius: 5px;
     background-color: #d3d3d3;

     transition: width 0.4s;
}

.dot.active {
     width: 30px;
     background-color: #3bcd84;
}

.introsDiv {
     text-align: center;
     width: 90vw;
     margin-left: 5vw;
}

.introsDiv h1 {
     width: 70vw;
     height: 50px;
     margin-left: 10vw;
     font-size: 20px;
     color: #161616;
     font-family: "Montserrat", sans-serif;
}

.introsDiv p {
     padding-top: 40px;
     width: 70vw;
     margin-left: 10vw;
     font-size: 15px;
     color: #161616;
     font-family: "Montserrat", sans-serif;
     height: 10vh;
}

.getStarted {
     margin-top: 30px;
     padding-bottom: 30px;
     display: flex;
     justify-content: center;
     align-items: center;
}
.getStarted button {
     border: none;
     width: 200px;
     background-color: #3bcd8450;
     padding: 20px;
     border-radius: 20px;
     cursor: not-allowed;
     color: #ffffff;
     font-family: "Montserrat", sans-serif;
}

.getStarted.active button {
     border: none;
     width: 200px;
     background-color: #3bcd84;
     padding: 20px;
     border-radius: 20px;
     cursor: pointer;
     box-shadow: 0px 3px 2px -2px #d7b31b;
}
