.Profile {
     height: 100vh;
     width: 100vw;
}

.profileImage {
     height: 50vh;
     display: flex;
     flex-direction: column;
     position: relative;
}

.profileImage h1 {
     position: absolute;
     padding-top: 50px;
     margin-left: 30px;
     font-size: 18px;
     font-family: "Montserrat";
}

.profileImage .greener {
     align-self: center;
     margin: auto;
     height: 200px;
     width: 200px;
     background-color: #e7e7e7;
     border-radius: 100px;
     border: solid 2px #3bcd84;
     display: flex;
     align-items: center;
     justify-content: center;
}

.greener img {
     height: 100px;
     width: 100px;
}
.profileEdits {
     height: 50vh;
     box-shadow: 0px -3px 5px -1px #00000010;
}
