.Intro {
    width: 100vw;
    max-width: 550px;
    height: 100vh;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    box-shadow: 0px 0px 2px #00000020;
    background-color: #fefefe;
}
.Intro::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

.Intro .waysToHelp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Intro .waysToHelp header {
    margin-top: 70px;
    width: 90%;
    max-width: 320px;
}

.Intro .waysToHelp header h1 {
    font-size: 17px;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
}

.Intro .waysToHelp header p {
    font-size: 12px;
    font-family: "Lato";
    text-align: center;
    margin-top: 30px;
}
.Intro .waysToHelp .questions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    width: 90%;
}
.Intro .waysToHelp .questions div {
    height: 50px;
    width: 100%;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0.5px #3bcd84;
    border-radius: 25px;
    font-family: "Lato";
    font-size: 15px;
}

.Intro .waysToHelp .questions button {
    height: 50px;
    width: 100%;
    max-width: 300px;
    background-color: #71c29a;
    font-family: "Montserrat";
    color: #fff;
    border: none;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.Intro .waysToHelp .questions .clicked {
    background-color: #e8fbf2;
    border: none;
}

.Intro .selectActivities {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.Intro .selectActivities header {
    margin-top: 10px;
    width: 90%;
    max-width: 320px;
}

.Intro .selectActivities header h1 {
    font-size: 17px;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
}

.Intro .selectActivities header p {
    font-size: 12px;
    font-family: "Lato";
    text-align: center;
    margin-top: 30px;
}

.Intro .activities {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 300px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.Intro .activities div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 48%;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 1px 2px 2px -1px #00000020;
}

.Intro .selectActivities .nav {
    width: 100%;
    height: 60px;
    margin-top: 30px;
}

.Intro .activities div img {
    border: none;
    height: 30px;
    width: 30px;
}

.Intro .activities div p {
    border: none;
    font-size: 13px;
    margin-top: 8px;
    font-family: "Lato";
}

.Intro .activities div:nth-child(1) {
    background-color: #f8fffb;
    color: #3bcd84;
}

.Intro .activities div:nth-child(2) {
    background-color: #fff6ff;
    color: #b72ace;
}

.Intro .activities div:nth-child(3) {
    background-color: #fffdf8;
    color: #d0a449;
}

.Intro .activities div:nth-child(4) {
    background-color: #f5f6ff;
    color: #413eff;
}

.Intro .activities div:nth-child(5) {
    background-color: #fff6f1;
    color: #c84e0b;
}

.Intro .activities div:nth-child(6) {
    background-color: #edf3de;
    color: #7aa60b;
}

.clicked-1 {
    border: solid 1px #3bcd84;
}

.clicked-2 {
    border: solid 1px #b72ace;
}

.clicked-3 {
    border: solid 1px #d0a449;
}

.clicked-4 {
    border: solid 1px #413eff;
}

.clicked-5 {
    border: solid 1px #c84e0b;
}

.clicked-6 {
    border: solid 1px #7aa60b;
}

.Intro .selectActivities button {
    height: 50px;
    width: 100%;
    max-width: 300px;
    background-color: #71c29a;
    font-family: "Montserrat";
    color: #fff;
    border: none;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 40px;
}

.Intro .username {
    width: 80vw;
    max-width: 300px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Intro .username header {
    display: flex;
    flex-direction: column;
}

.Intro .username header img {
    height: 40px;
    margin-bottom: 50px;
}
.Intro .username header p {
    font-family: "Lato";
    width: 100%;
    color: #71727a;
    text-align: center;
    font-weight: 400;
    font-size: 13px;
}

.Intro .username input {
    width: 100%;
    border: none;
    height: 50px;
    border: solid 1px #71727a;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border-radius: 12px;
    background-color: transparent;
}

.Intro .username input:focus {
    outline: none;
    border: none;
    border: solid 1px #9a3258;
    color: #9a3258;
    caret-color: #9a3258;
}

.Intro .username button:disabled {
    background-color: #71c29a50;
}

.Intro .username .success {
    font-size: 12px;
    color: #3bcd84;
    text-align: center;
    margin-top: 10px;
}

.Intro .username .fail {
    font-size: 12px;
    color: #fa3c6a;
    text-align: center;
    margin-top: 10px;
}

.Intro .username button {
    height: 50px;
    width: 100%;
    max-width: 300px;
    background-color: #71c29a;
    color: #fff;
    border: none;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 20px;
}
