@import url("https://fonts.googleapis.com/css2?&family=Lato&display=swap");
.SignUP {
    background-color: #fefefe;
    scroll-behavior: smooth;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SignUP header {
    display: flex;
    margin-top: 60px;
    width: 80vw;
    max-width: 300px;
    flex-direction: column;
    font-family: "Lato", sans-serif;
}

.signUpHeader h1 {
    font-size: 24px;
    color: #1f2024;
    margin-bottom: 10px;
}

.signUpHeader p {
    font-size: 14px;
    color: #71727a;
    margin-bottom: 10px;
}

.signUpForm {
    position: relative;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Lato";
}

.signUpForm fieldset {
    border: none;
}

.signUpForm fieldset label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #2f3036;
}

.signUpForm fieldset input {
    margin-top: 5px;
    font-size: 12px;
    width: 80vw;
    max-width: 300px;
    height: 50px;
    border: none;
    border: solid 1px #71727a;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 12px;
    background-color: transparent;
    font-family: "Lato";
}

.signUpForm fieldset input::placeholder {
    font-family: "Lato";
}
.signUpForm fieldset input:focus {
    outline: none;
    border: solid 1px #9a3258;
    font-size: 13px;
    caret-color: #9a3258;
    color: #9a3258;
}

.signUpForm .fieldCheckers {
    margin-top: 10px;
    color: #fa3c6a;
    font-size: 10px;
}

.signUpForm .eyeIconsRelativeDivs {
    width: fit-content;
    position: relative;
    height: 50px;
    margin-bottom: 10px;
}

.signUpForm .eyeIcon {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 10px;
    top: 17px;
    font-size: 16px;
    color: #71727a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signUpForm .check {
    margin-top: 20px;
    width: 80vw;
    max-width: 300px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.signUpForm .check input {
    accent-color: #3bcd84;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border: none;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #3bcd84;
}

.signUpForm .check p {
    font-size: 12px;
    font-family: "Lato", sans-serif;
    color: #71727a;
}
.signUpForm .check p span {
    color: #3bcd84;
}

.signUpForm button:disabled {
    background-color: #71c29a50;
}
.signUpForm button {
    width: 80vw;
    max-width: 300px;
    margin-top: 20px;
    height: 50px;
    background-color: #71c29a;
    border-radius: 12px;
    color: #fff;
    border: none;
}

.SignUP .signUpAlreadyExisted {
    margin-top: 30px;
    font-size: 13px;
    text-align: center;
}
.SignUP .signUpAlreadyExisted p {
    color: #71727a;
    font-family: "Lato", sans-serif;
}

.signUpAlreadyExisted .loginLink {
    color: #3bcd84;
    text-decoration: none;
}
