.Goals {
     width: 100vw;
     max-width: 550px;
     height: 100vh;
     background: linear-gradient(270deg, #dae9da, #fff);
     display: flex;
     flex-direction: column;
     align-items: center;
     overflow-y: auto;
     box-shadow: 0px 0px 2px #00000020;
}

.Goals::-webkit-scrollbar {
     height: 0px;
     width: 0px;
}

.Goals header h1 {
     font-family: "Lato";
     font-size: 20px;
     margin-top: 80px;
     font-weight: 700;
}

.Goals .Image {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 300px;
     width: 100vh;
}

.Goals .Image img {
     margin-top: 40px;
}

.Goals .Paragraph {
     width: 90%;
     display: flex;
     flex-direction: column;
}

.Goals .Paragraph p {
     margin-top: 70px;
     font-family: "Lato";
     font-size: 14px;
     text-align: center;
}

.Goals button {
     appearance: none;
     margin-top: 70px;
     margin-bottom: 100px;
     width: 60%;
     justify-self: center;
     border: none;
     height: 50px;
     border-radius: 12px;
     background-color: #fff;
     font-family: "Montserrat";
     font-size: 14px;
     margin-left: 20%;
     font-weight: 700;
     box-shadow: 0px 5px 3px -3px #000000;
}
