@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&family=Epilogue:wght@300&family=Lato:wght@400;700&family=Montserrat:wght@100;400&family=Poppins:wght@200&family=The+Nautigal:wght@700&family=Ubuntu+Mono&display=swap");

* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
input[type="password"]::-ms-reveal {
     display: none;
}

.Opening {
     background: linear-gradient(#e7f6e6, #fff, #fdf2bf);
     height: 100vh;
}

.Opening header {
     background-image: url(./Assets/home.svg);
     background-repeat: no-repeat;
     background-size: cover;
     background-color: transparent;
     background-position: center;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
}

.Opening .imgText {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.logo img {
     width: 100px;
}

.imgText p {
     font-family: "Poppins" sans-serif;
     text-align: center;
     color: #d7b31b;
     font-weight: 300;
}

.imgText .firstText {
     animation: textOpacityChangeForOpeningPage1 2s;
}

.imgText .secondText {
     animation: textOpacityChangeForOpeningPage2 2s;
}

@keyframes textOpacityChangeForOpeningPage1 {
     0% {
          opacity: 0;
     }

     80% {
          opacity: 1;
     }

     100% {
          opacity: 0;
     }
}

@keyframes textOpacityChangeForOpeningPage2 {
     0% {
          opacity: 0;
     }

     100% {
          opacity: 1;
     }
}
