@import url("https://fonts.googleapis.com/css2?&family=Ubuntu+Mono&display=swap");

* {
     padding: 0;
     margin: 0;
     box-sizing: 0;
}

.Opening {
     background-color: #f2fbf4;
     height: 100vh;
}

.Content {
     background-image: url(./Assets/home.svg);
     background-repeat: no-repeat;
     background-size: cover;
     background-color: transparent;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
}
.LogoText {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.Text-box {
     color: #3bcd84;
}

.Text-box img {
     width: 100px;
}

.text {
     font-family: "Ubuntu Mono" monospace;
     text-align: center;
     font-weight: 300;
     color: #d7b31b;
     animation: opacity 4s;
}

@keyframes opacity {
     0% {
          opacity: 0;
     }
     40% {
          opacity: 1;
     }
     50% {
          opacity: 0;
     }
     100% {
          opacity: 1;
     }
}

.pointer {
     display: inline-block;
     height: 10px;
     width: 2px;
     background-color: #3bcd84;
}
