.OTP {
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     background: linear-gradient(#e7f6e6, #fff, #fdf2bf);
}
.otp {
     border: none;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 10px;
     animation: drop 0.4s;
}

@keyframes drop {
     from {
          margin-bottom: 50vh;
     }
     to {
     }
}

.otps {
     height: 30px;
     width: 100px;
     font-size: 20px;
     font-family: "Lato", sans-serif;
     text-align: center;
     border: none;
     border-bottom: solid 2px #71727a;
}

.otps::-webkit-inner-spin-button,
.otps::-webkit-outer-spin-button {
     appearance: none;
     margin: 0;
}

.otps:focus {
     border-bottom: solid 2px #9a3258;
     outline: none;
     caret-color: #9a3258;
}
.verify {
     width: 100%;
     margin-top: 20px;
     align-self: center;

     color: #3bcd84;
     font-size: 15px;
     background: transparent;
     border: none;
}

.resendOTP {
     text-align: center;
     font-size: 14px;
     font-family: "Lato", sans-serif;
     color: #71727a;
     margin-top: 30px;
}

.resend,
.secs {
     color: #3bcd84;
     text-decoration: none;
}
