.Otp {
     height: 100vh;
     display: flex;
     overflow-x: hidden;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background: linear-gradient(270deg, #dae9da, #fff);
}

.Otp header {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.Otp header img {
     height: 40px;
}

.Otp header p {
     font-family: "Lato", sans-serif;
     color: #71727a;
     font-size: 13.5px;
     margin-bottom: 20px;
}
.Otp .otpForm fieldset {
     border: none;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 10px;
}

.Otp .otpForm fieldset input {
     height: 30px;
     width: 100px;
     font-size: 20px;
     font-family: "Lato", sans-serif;
     text-align: center;
     border: none;
     border-bottom: solid 2px #71727a;
     background-color: transparent;
}

.Otp .otpForm fieldset input::-webkit-inner-spin-button,
.Otp .otpForm fieldset input::-webkit-outer-spin-button {
     appearance: none;
     margin: 0;
}

.Otp .otpForm fieldset input:focus {
     border-bottom: solid 2px #9a3258;
     outline: none;
     caret-color: #9a3258;
}
.otpForm .validotp {
     text-align: center;
     margin-top: 5px;
     font-size: 10px;
     color: #3bcd84;
}

.otpForm .invalidotp {
     text-align: center;
     margin-top: 5px;
     font-size: 10px;
     color: #9a3258;
}
.otpForm .verify {
     width: 100%;
     margin-top: 20px;
     color: #3bcd84;
     font-size: 15px;
     background: transparent;
     border: none;
}

.Otp .resendOTP {
     text-align: center;
     font-size: 12px;
     font-family: "Lato", sans-serif;
     color: #71727a;
     margin-top: 10px;
}

.Otp .resendOTP .resend,
.Otp .resendOTP .secs {
     color: #3bcd84;
     text-decoration: none;
     font-size: 12px;
}

.Otp .resendMessage {
     text-align: center;
     margin-top: 5px;
     font-size: 10px;
     color: #3bcd84;
}
